@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400..900;1,400..900&display=swap');

/*=============================================
=            Style            =
=============================================*/
:root {
  --primary: #f4f4f4;
  --secondary: #333;
  --text: #444;
}

/*=====  End of Style  ======*/


/*=============================================
=            Rest            =
=============================================*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Alegreya", serif;
  letter-spacing: 1px;
}

/*=====  End of Rest  ======*/

h2 {
  font-size: 3em;
}

p {
  font-size: 1em;
}

/*=============================================
=            Header            =
=============================================*/

#main-header {
  color: var(--secondary);
  padding: 2em 5em;
}

.header-content,
.brand-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*=============================================
=            Menu Items            =
=============================================*/

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu-button {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  gap: 5px;
}

.menu-button span {
  width: 25px;
  height: 5px;
  background-color: var(--secondary);
}

.menu {
  display: none;
  list-style: none;
  flex-direction: column;
  background-color: #444;
  position: absolute;
  top: 5em;
  right: 5em;
  padding: 50px;
  border-radius: 10px;
  line-height: 2em;
}

.menu li a {
  text-decoration: none;
  color: var(--secondary);
}

.menu.active {
  display: flex;
}

/* Responsive styles */
@media (max-width: 800px) {
  #main-header {
    padding: 1.5em 2em;
  }

  .brand-content h1 {
    display: none;
  }
}

/*=====  End of Menu Items  ======*/

/*=====  End of Header  ======*/


/*=============================================
=            General Section            =
=============================================*/

section {
  width: auto;
  height: 75vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  /*smooth scroll effect on backgorund */
  padding: 0 5em;
  /* display: grid;
  place-items: center; */
  object-fit: contain;
}

@media (max-width: 800px) {
  section {
    padding: 0 2em;
  }
}

/*=====  End of General Section  ======*/

/*=============================================
=            Lightroom Preset            =
=============================================*/



/*=====  End of Lightroom Preset  ======*/

/*=============================================
=            Footer            =
=============================================*/

footer {
  display: grid;
  place-items: center;
  text-align: center;
  width: auto;
  height: 65vh;
}

.connect>a {
  text-decoration: none;
  color: #333;
  white-space: inherit;
}

/* Resize the image icon */
.icon-link {
  width: 4em;
  gap: 5em;
}

/* Optional: Add hover effects */
.icon-link:hover {
  filter: brightness(1.2);
  /* Slightly brighten the icon */
  transform: scale(1.1);
  /* Scale up slightly */
  transition: transform 0.3s, filter 0.3s;
  /* Smooth animation */
}

/*=====  End of Footer  ======*/